In [42]:
lists=["JUGAL" ,"kanika" , "anku"]
list1 = ["abc", 34, True, 40, "male"]
list2=[10 , 20 , 30 , 40]
list2[0:2]=[22,69];
print(lists)
print(len(lists))
print(list1)
print(list2)

['JUGAL', 'kanika', 'anku']
3
['abc', 34, True, 40, 'male']
[22, 69, 30, 40]

In [8]:
#append

In [43]:
lists=["jugal" , "sharma"]
lists.append("jugal")
print(lists)

['jugal', 'sharma', 'jugal']

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")

print(thislist)

['banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [13]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [17]:
thislist = [1000000000, 50, 650000, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 82, 650000, 1000000000]

In [20]:
thislist = ["apple", 45, "cherry"]
for x in thislist:
  print(x)

apple
45
cherry

In [21]:
mytuple = ("apple", 45, "cherry")

print(mytuple)

('apple', 45, 'cherry')

In [23]:
thisset = {"apple",45, "cherry"}
print(thisset)

{'apple', 'cherry', 45}

In [25]:
#Python Dictionaries

In [36]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": [22 , 33 , 44 , 69]
}
thisdict["brand"]="fuck_you"
print(thisdict["year"])
x = thisdict.keys()
# car["year"] = 2020
print(thisdict)
print(x)

[22, 33, 44, 69]
{'brand': 'fuck_you', 'model': 'Mustang', 'year': [22, 33, 44, 69]}
dict_keys(['brand', 'model', 'year'])

In [37]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [38]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [39]:
#Loop

In [40]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [41]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry